/.bash_history
/.bash_logout
/.bashrc
/.cache
/.conda
/.condarc
/.config
/.dotnet
/.local
/.profile
/.vscode-server
/.wget-hsts
/DeepModels.py
/__pycache__
/data
/data.tar
/high.py
/lgbm.py
/means_distros.py
/miniconda.sh
/miniconda3
/model.pkl
/sugg.py
/tmp.yml
/tryalgs.ipynb